.subtitle{
    padding-left: 10%;
}
body{
    background-color: #3399ff;
  }

ion-content{
    --ion-background-color:#3399ff;
}

#message{
    margin-left: 5%;
    margin-right: 5%;
}
#buttons{
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#h4{
    padding-left: 2.5%;
}