<ion-header>
  <ion-toolbar color='tertiary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div *ngIf="activeUser == false" id="loginscreen">

    <div id="message" style="color: white; text-align: justify;">
      <h4> Welcome to this application to track your Medication</h4>
      <h4>Please login below or Register for an account!</h4>

    </div>
    <ion-card color="light">
      <ion-card-header>
        <ion-card-title style='color: #3399ff'>Username</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item color='light'>
          <ion-input type="text" placeholder="Enter your Username" [(ngModel)]="inputtedUsername" color='tertiary'>
          </ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card color="light">
      <ion-card-header>
        <ion-card-title style='color: #3399ff'>
          Password
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item color='light'>
          <ion-input type="password" placeholder="Enter your password" [(ngModel)]="inputtedPassword" color='tertiary'>

          </ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <div id="buttons">
      <ion-button (click)="onLogin()" expand="block" size="large" color='light'>
        <ion-text color='tertiary'>
          <h4>Login</h4>
        </ion-text>
      </ion-button>


      <ion-button (click)="presentSignUp()" expand="block" size="large" color='light'>
        <ion-text color='tertiary'>
          <h4>Register</h4>
        </ion-text>
      </ion-button>
    </div>
  </div>

  <div *ngIf="activeUser == true" id="profileScreen">
    <ion-item *ngFor="let element of currentUser">
      <ion-list>

        <div>
          <ion-card color='light'>
            <ion-card-header style='color: #3399ff'>
              <ion-title>
                Username
              </ion-title>
              <ion-card-subtitle>
                This it the current Username that you entered on Sign up:
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-item color='light'>
                <h4 style='color:#3399ff'>{{element.username}}</h4>
              </ion-item>


            </ion-card-content>
          </ion-card>
        </div>
        <ion-card color='light'>
          <ion-card-header style='color: #3399ff'>
            <ion-title horizontal="center">
              Date of Birth
            </ion-title>
            <ion-card-subtitle>
              This it the current Date of Birth that you entered on Sign up:
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>

            <ion-item color='light'>
              <h4 style='color:#3399ff'>{{element.dob}}</h4>
            </ion-item>

          </ion-card-content>
        </ion-card>

      </ion-list>
    </ion-item>
    <ion-item>
      <h4 style='color: white'>Don't forget to use the Help screen if you get stuck in the application!</h4>
    </ion-item>
    <ion-button (click)="onLogOut()" color="danger" expand="block" size="large">
      Log Out
    </ion-button>
  </div>


</ion-content>