<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Medication
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>


  <div id="container">
    
    <ion-item *ngFor="let med of medicines">
      <div id="medicine">
        {{med.name}}
      </div>
      <div id="Remove Button"> 
        <ion-button size ="large" (click)="removeMed(med.name)" color="danger"> <ion-icon name="trash-outline"></ion-icon></ion-button>
      </div>

      <div id="I-Button">
        <ion-button size="large" (click)="onInfoPress(med, medicines,descriptions)">
          <ion-icon name="information-circle-outline"></ion-icon>

        </ion-button>
      </div>
      
      <div id="Add-Button">
        <ion-toggle color="primary" ([ngModel])="toggleswitch" (click)=toggled(med.name) apple></ion-toggle>
      </div>
    
    </ion-item>
    
    <ion-button (click)="newDrug()" expand="block" size="large">Add new medicine</ion-button>
  </div>
  <ion-button (click)="isToggleOn()">
    Click me
  </ion-button>
</ion-content>
