<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Medicines
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <div id="container">
    index=0
  <ion-item *ngFor="let med of medicines"> 
    <div id="medicine">
      {{med}}
    </div> 
    
      <div id="I-Button">
        <ion-button size="large" (click)="onInfoPress(index, med, medicines)">
          <ion-icon name="information-circle"></ion-icon>

        </ion-button>
      </div>
      <div id="Add-Button">
        <ion-button size="large">
        <ion-icon name="add-circle"></ion-icon>
        </ion-button>
      </div>
    
  </ion-item>
  </div>
  
</ion-content>
