<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Help Screen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1> Welcome to this app to track your Medication</h1>
  <ion-button (click)="loginPageRoot()"> Click to get logged in! </ion-button>
  <h2> Please find some pointers on how to use the app below:</h2>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Information Button</ion-card-title>

    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-button size="large">
          <ion-icon size="large" name="information-circle-outline"></ion-icon>
        </ion-button>
        <div id="paragraph">
          <p> Pressing this button will display a description of the drug that it is listed under</p>
        </div>
      </ion-item>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Adding Medicine to your Tracker</ion-card-title>

    </ion-card-header>
    <ion-card-content>
      <ion-item>
          
            <div id="toggle">
              <ion-toggle color="primary"></ion-toggle>
            </div>

          <div id="paragraph">
            
              <p> To add the relevant medicine to your Tracker, this toggle switch will need to be tapped upon so that
                it
                turns blue <br />
                Items that appear in your tracked list can be used to set a timer and reminders of when medication is
                required
                to be taken
              </p>
            
          </div>

        </ion-item>
      
    </ion-card-content>


  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Remove Medicine</ion-card-title>

    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-button size="large" color="danger">
          <ion-icon size="large" name="trash-outline"></ion-icon>
        </ion-button>
        <div id="paragraph">
          <p> This allows you to remove the medicine from the relevant screen, whether it be deleting an entry after
            finishing a course of medication or removing it from the application completely
          </p>
        </div>
      </ion-item>
    </ion-card-content>


  </ion-card>
</ion-content>